body {
    margin: 0;

    header {
        position: fixed;
        width: 100%;
        height: 52px;
        background-color: #E87E00;
        color: #fff;
        padding: 0 1.5rem;

    }
}

.dropdown {
    $block: &;

    position: relative;
    display: inline-block;

    &__icon {
        position: absolute;
        top: 10px;
    }

    &__label {
        line-height: 52px;
        font-size: 18px;
        margin-left: 36px;
    }

    &__content {
        display: none;
        position: absolute;
        left: -11px;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0,0,0,.6);
        -moz-transition: width .3s ease-out;
        -o-transition: width .3s ease-out;
        -webkit-transition: width .3s ease-out;
        transition: width .3s ease-out;

        &:before {
            position: absolute;
            content: " ";
            height: 0;
            left: 13px;
            width: 0;
            z-index: 1;
            border-right: 11px solid transparent;
            border-bottom: 11px solid #fff;
            border-left: 11px solid transparent;
            top: -10px;
        }
    }

    &:hover {
        #{$block}__content {
            display: block;
        }
    }
}
