$block: ".menu";
$color-hover: #ec7d00;

@mixin link($font-size: 14px, $text-transform: lowercase, $color: inherit) {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 5px 4px 7px 20px;
    font-size: $font-size;
    font-weight: bold;
    width: 176px;
    color: $color;
    text-transform: $text-transform;
}

#{$block} {
    display: none;
    list-style: none;
    padding: 20px 0 30px;
    margin: 0;
    height: calc(100% - 50px);
    width: 200px;
    position: absolute;
    left: 199px;
    top: 0;
    color: #666;
    border-left: 1px solid #ddd;
    min-height: 300px;

    &__link {
        @include link;
    }

    &__link--title {
        @include link(17px, uppercase, #444);
    }

    & > &__item:hover {
        border-left: 3px solid #{$color-hover};
        background-color: #f5f5f5;

        > #{$block} {
            display: block;
        }

        > #{$block}__link {
            padding-left: 17px;
            color: #{$color-hover};

            &:before {
                border-bottom: 15px solid transparent;
                border-left: 13px solid #ddd;
                border-top: 15px solid transparent;
                content: " ";
                height: 0;
                position: absolute;
                right: -12px;
                top: 0;
                width: 0;
                z-index: 1;
            }

            &:after {
                border-bottom: 14px solid transparent;
                border-left: 12px solid #f5f5f5;
                border-top: 14px solid transparent;
                content: " ";
                height: 0;
                position: absolute;
                right: -11px;
                top: 1px;
                width: 0;
                z-index: 1;
            }
        }
    }

    & > &__item--final:hover {
        border-left: 3px solid #{$color-hover};

        > #{$block}__link {
            padding-left: 17px;
            color: #{$color-hover};
        }
    }
}

#{$block}--root {
    @extend #{$block};

    display: block;
    position: relative;
    left: 0;
    color: #444;
    border-left: none;
}
