@mixin btn($bg-color, $border-color) {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: $bg-color;
    border-color: $border-color;
    min-width: 100px;
    height: 30px;
}

@mixin message($color, $bg-color, $border-color) {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: $color;
    background-color: $bg-color;
    border-color: $border-color;
}

body {

    font-family: opensans-bold-webfont,"Helvetica Neue",Helvetica,Arial,sans-serif;

    background-color: #F0F0F0;

    margin: 0;

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 960px;
        }
    }

    a {
        text-decoration: none;
        width: 100%;
        overflow-wrap: break-word;
        min-width: 150px;

        &:hover {
            text-decoration: underline;
        }
    }


    input {
        padding: 6px 12px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        width: 100%;
        min-width: 150px;
    }

    .btn--save {
        @include btn(#5cb85c, #4cae4c);

        &:hover {
            background-color: #449d44;
            border-color: #398439;
        }
    }

    .btn--edit {
        @include btn(#337ab7, #2e6da4);

        &:hover {
            background-color: #286090;
            border-color: #204d74;
        }
    }

    .btn--remove {
        @include btn(#d9534f, #d43f3a);

        &:hover {
            background-color: #c9302c;
            border-color: #ac2925;
        }
    }

    .message--error {
        @include message(#a94442, #f2dede, #ebccd1);
    }

    .message--success {
        @include message(#3c763d, #dff0d8, #d6e9c6);
    }
}
