.page-container {
    h2 {
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        > * {
            margin-bottom: 10px;
            width: 300px;
            box-sizing: border-box;
        }
    }
}
