.menus-container > div {
    margin-bottom: 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #ddd;
    margin: 30px 0 30px;
    padding-bottom: 10px;

    h2 {
        margin: 0;
    }
}
