.item-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &__inputs {
        flex-basis: 100%;
        margin-right: 5px;

        input {
            margin-right: 5px;
        }
    }

    &__buttons {
        width: 303px;
        flex-shrink: 0;
    }
}

@media (max-width: 720px) {
    .item-container {
        flex-wrap: wrap;

        &__inputs {
            margin-right: 0;

            input {
                margin-right: 0;
                margin-bottom: 5px;
            }

            a {
                margin-bottom: 10px;
            }
        }
    }
}
